html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
    font-size: 1rem;
}

.btn-subtle {
  display: inline-block;
  background-color: #ccc;
  color: #fff;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
    font-size: 1rem;
}

.btn-ghost {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
    font-size: 1rem;
}

.btn-warning {
  display: inline-block;
  background-color: #f33;
  color: #fff;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
  font-size: 1rem;

}

.btn-small {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
  font-size: 0.875rem
}

.btn-subtle-small {
  display: inline-block;
  background-color: #ccc;
  color: #fff;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
  font-size: 0.875rem
}

.btn-ghost-small {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
  font-size: 0.875rem
}

.btn-warning-small {
  display: inline-block;
  background-color: #f33;
  color: #fff;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
  font-size: 0.875rem
}


.btn-big {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
  font-size: 1.5rem
}

.btn-subtle-big {
  display: inline-block;
  background-color: #ccc;
  color: #fff;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
  font-size: 1.5rem
}

.btn-ghost-big {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
  font-size: 0.875rem
}

.btn-warning-big {
  display: inline-block;
  background-color: #f33;
  color: #fff;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
  font-size: 1.5rem
}
